@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-Regular.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-ExtraBold.ttf);
    font-weight: bolder;
}
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
    font-weight: bolder;
    font-style: italic;
}

body{
    background-color: hsl(0, 0%, 94%);
    font-family: Poppins;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: white;
    width: 634px;
    height: 488px;
    border-radius: 15px 15px 150px 15px;
}

form{
    display: flex;
    flex-direction: row;
    margin: 31px;
    margin-top: 6px;
}

.d{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 22px;
    margin-left: 10px;
    font-size: 12px;
    letter-spacing: 2px;
    color: hsl(0, 1%, 44%);
    font-weight: 700;
}

input{
    width: 93px;
    height: 49px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 86%);
    font-size: 19px;
    font-weight: 800;
    padding-left: 11px;
}

.required{
    border: 1px solid hsl(0, 100%, 67%);
}

.textreq{
    font-size: 9px;
    letter-spacing: 0;
   font-style: italic;
    color: hsl(0, 100%, 67%);
    margin-top: 10px;
}

.dreq{
    color: hsl(0, 100%, 67%);
}

button{
    margin-top: 7rem;
    margin-left: 52px;
    width: 74px;
    height: 74px;
    border-radius: 40px;
    background-color: hsl(259, 100%, 65%);
    border: none;
 }

 button:hover{
    background-color: black;
 }

 img{
    width: 39px;
 }
 
 hr{
    width: 80%;
    margin: 0;
    margin-top: -63px;
    padding-right: 9px;
    margin-left: 39px;
    border: 1px solid hsl(0, 0%, 86%);
 }
 
 .age{
    margin-top: 34px;
    font-size: 75px;
    font-style: italic;
    color: black;
    letter-spacing: 0;
 }

 .ans{
    margin-left: 44px;
    margin-bottom: -33px;
    color: hsl(259, 100%, 65%);
    letter-spacing: 10px;
 }

 .answer{
    margin-left: 60px;
    margin-bottom: -33px;
    color: hsl(259, 100%, 65%);
 }

 @media (max-width: 480px) {
    .container{
        width: 100%;
        height: 100%;
    }

    form{
        margin: 10px;
        margin-top: 27px;
    }

    .d{
        margin-top: -70px;
    }

    button{
        margin-top: 123px;
        margin-left: -240px;
        width: 68px;
        height: 68px;
        
    }
    .age{
        font-size: 50px;
        margin-top: 39px;
        margin-bottom: 56px;
    }

    hr{
        width: 85%;
        margin-top: -43px;
        margin-left: 30px;
    }

    img{
        width: 31px;
    }

    .ans, .answer{
        margin-bottom: -22px;
    }
 }

 @media (max-width: 420px) {
    input{
        width: 83px;
    }

    .d{
        margin-left: 2px;
    }

    button{
        margin-left: -213px;
    }

    .age{
        font-size: 45px;
    }

    .ans{
        margin-left: 41px;
    }
    
 }

 @media (max-width: 376px) {
    form{
        margin: 6px;
        margin-top: 20px;
        margin-left: 26px;
    }

    .d{
        margin-left: -5px;
    }

    input{
        width: 72px;
    }

    .textreq{
        font-size: 8px;
    }

    hr{
        width: 85%;
        margin-top: -43px;
        margin-left: 21px;
    }

    .age{
        font-size: 50px;
        margin-top: 47px;
        margin-bottom: 68px;
    }

    button{
        margin-top: 126px;
        margin-left: -205px;
    }

    .ans{
        margin-left: 21px;
    }

    .answer{
        margin-left: 32px;
        margin-bottom: -25px;
    }

    
 }